 <div class="container-fluid" style="background-color:white">
      <div class="row align-items-center">
        <div class="col-3">
          <a href="/"><img class="img-fluid" src="https://i.ibb.co/mR8B6wK/9f2915d2e2f34c5e99441129158cf238.png" alt="Field Office Logo" border="0" style="max-height:100px"></a>
        </div>

        <div class="col">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/people">People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
        </ul>
        </div>

<div class="container-fluid" style="text-align:center">
<hr style="padding:0;margin:0">

<div class="container" style="padding-top:20px">
  <div class="row gx-0">   
    <div class="col">
      <a href="/people"> <img class="img-fluid" src="https://cdn.pixabay.com/photo/2017/07/31/11/21/people-2557396_1280.jpg"></a>
      <div class="d-block">  
        <h3>People</h3>
      </div>  
    </div>

    <div class="col">
      <a href="/events"><img class="img-fluid" src="https://cdn.pixabay.com/photo/2020/06/08/16/19/woman-5275027_1280.jpg"></a>
      <h3>Events</h3>
    </div>

  </div>
</div>