<!--- Page Header --->
 <div class="container-fluid" style="background-color:white">
      <div class="row align-items-center">
        <div class="col-3">
          <a href="/"><img class="img-fluid" src="https://i.ibb.co/mR8B6wK/9f2915d2e2f34c5e99441129158cf238.png" alt="Field Office Logo" border="0" style="max-height:100px"></a>
        </div>

        <div class="col">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/people">People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/stats" tabindex="-1" aria-disabled="true">Fundraising & Petitions</a>
            </li>
        </ul>
        </div>

<div class="container-fluid" style="text-align:center">
<hr style="padding:0;margin:0">