<div class="container" style="text-align:center">
  <div class="row">
    <div class="col" style="text-align:center;background-color:yellow">
      <h1>Field Office</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      Campaign Team
    </div>
    <div class="col">
      Volunteers
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_1280.jpg">
    </div>
    <div class="col">
      <img class="img-fluid" src="http://www.wastatepta.org/wp-content/uploads/2016/11/Senior-volunteer-helping-African-American-man-register-for-marathon-000065245281_Medium.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-primary">Enter</button>
    </div>
    <div class="col">
       <button type="button" class="btn btn-outline-primary">Enter</button>
    </div>
  </div>


</div>
