 <div class="container-fluid" style="background-color:white">
      <div class="row" align="center">
        <div class="col-3">
          <a href="/"><img class="img-fluid" src="https://i.ibb.co/mR8B6wK/9f2915d2e2f34c5e99441129158cf238.png" alt="Field Office Logo" border="0" style="max-height:130px"></a>
        </div>
      </div>
    </div>
<div class="container-fluid" style="text-align:center">
  
  <hr>
  <div class="row">
    <div class="col-4">
      <img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_1280.jpg">
    </div>

    <div class="col">
      <p>Prepare events, track fundraising, manage your teams and track fundraising here<p>
      <a class="btn btn-primary" href="/homepage" role="button">Enter Field Office</a>

    </div>
  </div>
  
  <hr>

</div>
