 <div class="container-fluid" style="background-color:white">
      <div class="row" align="center">
        <div class="col">
          <a href="/" style:"vertical-align:middle"><img class="img-fluid" src="https://i.ibb.co/mR8B6wK/9f2915d2e2f34c5e99441129158cf238.png" alt="Field Office Logo" border="0" style="max-height:130px"></a>
        </div>
      </div>
    </div>
<div class="container-fluid" style="text-align:center">
  
  <hr>
  <div class="row">
    <div class=col>
    </div>

    <div class=col>
      <img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/03/09/09/22/meeting-1245776_1280.jpg">
    </div>

    <div class=col>
    </div>
  </div>
  <div class="row" style="padding-top:15px">
    <div class=col>
    </div>

    <div class=col>
      <a class="btn btn-primary" href="/homepage" role="button">Enter Field Office</a>
    </div>

    <div class=col>
    </div>
  </div>
  </div>
  
  <hr>

</div>
