 <!--- Page Heading --->
 <div class="container-fluid" style="background-color:white">
      <div class="row align-items-center">
        <div class="col-3">
          <a href="/"><img class="img-fluid" src="https://i.ibb.co/mR8B6wK/9f2915d2e2f34c5e99441129158cf238.png" alt="Field Office Logo" border="0" style="max-height:100px"></a>
        </div>

        <div class="col">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/people">People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>

        </ul>
        </div>

<div class="container-fluid" style="text-align:center">
<hr style="padding:0;margin:0">


<!--- Heading --->
<div class="container" style="padding-top:40px">
  <div class="row">
    <div class="col-1">
      <h1 style="font-weight:bold;font-size:30px">EVENTS</h1>
    </div>

    <div class="col-10">
    </div>

    <div class="col">
      <a class="btn btn-primary" role=button href="event/add_event">New</a>
    </div>
  </div>  

</div>

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th colspan="4"> Upcoming Events </th>
        </tr>
        <tr>
          <th> Event </th>
          <th> Start Date </th>
          <th> Start Time </th>
          <th> Team </th>
        </tr>
      </table>
    </div>

  </div>

</div>